#Article {
    display: flex;
    flex-direction: column;
}

#Article .container,
#Article swiper-container,
#Article swiper-slide {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#Article swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Article .item {
    cursor: pointer;
    position: absolute;
    padding: 2rem;
    width: calc(150% - 2rem);
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .1));
    transition: calc(var(--ms) * 2);
    transform-origin: top;
}

#Article .item *:not(.text) {
    flex-shrink: 0;
}

#Article .item:not(.active) {
    width: 100%;
    height: calc(100% / 3);
    transform: scale(.5);
}

#Article .item .text {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    transition: calc(var(--ms) * 2);
}

#Article .item:not(.active) .text {
    opacity: 0;
}

/* Vertical */
@media (orientation: portrait) {
    #Article .item {
        padding: 2rem 1rem;
        width: calc(100% - 4rem);
    }
}