#Article {
    scroll-snap-align: start;
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

#Article .container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#Article .item {
    cursor: pointer;
    position: relative;
    margin: 1rem auto;
    padding: 2rem 2rem 0;
    background-color: white;
    filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .1));
    transition: var(--ms);
    width: calc(100% - 4rem);
    max-width: 60rem;
}

#Article .item:hover {
    width: 100%;
    max-width: 64rem;
}

#Article .item .text {
    overflow: hidden;
    transition: var(--ms);
    text-align: left;
    overflow: hidden;
}

#Article .item .text:has(*) {
    margin-top: 2rem;
}

#Article .item:hover .text {
    padding: 0 2rem;
}

#Article .item .text p {
    text-wrap: wrap;
}

#Article .item .more {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--ms);
}

#Article .item:hover .more {
    color: var(--color-main);
}

#Article .item .more.active {
    transform: rotate(180deg);
}

/* Vertical */
@media (orientation: portrait) {
    #Article .item {
        padding: 1rem 1rem 0;
    }

    #Article .item .title {
        font-size: 1rem;
        line-height: calc(1rem * 1.5);
    }

    #Article .item:hover .text {
        padding: 0 1rem;
    }

    #Article .item .more {
        height: 2rem;
    }
}