#Company {
    scroll-snap-align: start;
    position: relative;
    height: 100dvh;
    display: flex;
    overflow: hidden;
}

#Company .item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--ms);
}

#Company .item:hover {
    z-index: 1;
    transform: scale(1.1);
}

#Company .item .text {
    margin: 0 2rem;
}

#Company .item .text h4,
#Company .item .text p {
    color: white;
}

#Company .item .img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(.5) brightness(.5);
}

/* Horizontal */
@media (orientation: landscape) {
    #Company {
        flex-direction: row;
    }
}

/* Vertical */
@media (orientation: portrait) {
    #Company {
        flex-direction: column;
    }
}