#Header {
    z-index: 99;
    position: fixed;
    width: 100%;
    overflow: hidden;
    transition: var(--ms), transform calc(var(--ms) * 2);
}

#Header:hover,
#Header:has(.tab.active) {
    background-color: white;
}

#Header.invert * {
    color: white;
}

#Header.invert:hover *,
#Header.invert:has(.tab.active) * {
    color: var(--color-black);
}

#Header .noise {
    opacity: 0;
}

#Header:hover .noise,
#Header:has(.tab.active) .noise {
    opacity: 0.1;
}

#Header .home {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: fit-content;
    height: 4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: var(--ms);
}

#Header .home img {
    height: 2.5rem;
    transition: var(--ms);
}

#Header.invert .home img {
    filter: invert(1);
}

#Header.invert:is(:hover, :has(.tab.active)) .home img {
    filter: none;
}

#Header .menu .item {
    list-style-type: none;
}

#Header .menu {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    display: flex;
}

#Header .menu h5 {
    cursor: pointer;
    padding: 0 1rem;
    line-height: 4rem;
    font-weight: 600;
    text-align: center;
    transition: var(--ms);
    transform: scale(1);
}

#Header .menu h5:hover {
    color: var(--color-main) !important;
    transform: scale(1.1);
}

#Header .tab {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#Header .tab i {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--ms);
    transform: scale(1);
}

#Header .tab i:hover {
    color: var(--color-main) !important;
    transform: scale(1.2);
}

#Header .tab.active i:hover {
    transform: scale(1.2) rotate(180deg);
}

#Header .tab .menu {
    position: absolute;
    top: 4rem;
    width: 100dvw;
    flex-direction: column;
    overflow: hidden;
    transition: var(--ms);
}

#Header .tab .menu a {
    width: 100%;
}

/* Vertical */
@media (orientation: portrait) {
    #Header *:not(.tab)>.menu {
        display: none;
    }
}