#History {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

#History .container {
    margin: 0 auto 2rem;
    width: calc(100% - 4rem);
    height: 100%;
    overflow: scroll;
    mask-image: linear-gradient(to bottom, black, black, transparent);
}

#History .container .year {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border-left: 2px solid var(--color-black);
}

#History .container .year:last-child {
    padding-bottom: calc(100dvh / 3);
}

#History .container .year>i {
    position: absolute;
    top: 0;
    left: -1px;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#History .container .year>h2,
#History .container .month>h5 {
    width: 10rem;
    text-align: right;
    flex-shrink: 0;
}

#History .container .month {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#History .container .item {
    margin: 0 0 1rem 1rem;
}

/* Horizontal */
@media (orientation: landscape) {
    #History .container .year {
        margin-left: calc(50% - 1px);
    }

    #History .container .year.left {
        margin-left: 0;
        margin-right: calc(50% - 1px);
        border-left: none;
        border-right: 2px solid var(--color-black);
        text-align: right;
        align-items: flex-end;
    }

    #History .container .year.left>i {
        left: auto;
        right: -1px;
        transform: rotate(180deg);
    }

    #History .container .year.left>h2 {
        text-align: left;
    }

    #History .container .year.left .month {
        flex-direction: row-reverse;
    }

    #History .container .year.left .month>h5 {
        text-align: left;
    }

    #History .container .year.left .item {
        margin-left: auto;
        margin-right: 1rem;
    }
}

/* Vertical */
@media (orientation: portrait) {
    #History .container .year>i {
        height: 3rem;
    }

    #History .container .year>h2 {
        font-size: 2rem;
        line-height: calc(2rem * 1.5);
    }

    #History .container .year>h2,
    #History .container .month>h5 {
        width: 7rem;
        text-align: right;
        flex-shrink: 0;
    }
}