#Main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Main .swiper {
    z-index: -1;
    position: absolute;
}

#Main .swiper,
#Main .swiper-wrapper,
#Main .swiper-slide>* {
    width: 100%;
    height: 100%;
}

#Main video {
    object-fit: cover;
    filter: brightness(.8);
}

#Main .img {
    background-size: cover;
    background-position: center;
}

#Main .text {
    pointer-events: none;
    margin: 0 2rem;
    padding: 2rem;
    max-width: 60rem;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(.5rem);
}

#Main .text * {
    color: white;
}

#Main .text h2 {
    line-height: 125%;
}

#Main .text .handfont {
    font-size: 1.5rem;
}

#Main .text p {
    margin: 1rem 0;
}

/* Vertical */
@media (orientation: portrait) {
    #Main .background video {
        object-position: 60% 50%;
    }

    #Main .text {
        padding: 1rem;
    }

    #Main .text h2 {
        font-size: 2rem;
    }
}