#Project {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: whitesmoke;
}

#Project .item {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Project .item .background {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Project .item .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: var(--ms);
    filter: grayscale(.5) brightness(.5);
}

#Project .item:hover .img,
#Project .item.active .img {
    filter: none;
}

#Project .item .text * {
    color: white;
}

#Project .item.active .text {
    padding: 2rem;
    width: calc(100% - 8rem);
    border: 1px solid rgba(255, 255, 255, .5);
    transition: var(--ms);
}

/* Horizontal */
@media (orientation: landscape) {
    #Project .item.active .text:hover {
        backdrop-filter: blur(.2rem) invert(.2);
    }
}

/* Vertical */
@media (orientation: portrait) {
    #Project .item.active .text {
        padding: 2rem 1rem;
        backdrop-filter: blur(.2rem) invert(.2);
    }
}