.SectionTitle {
    z-index: 1;
    margin: 0 auto;
    padding: 4rem 2rem;
    width: 100%;
}

.SectionTitle h1,
.SectionTitle p {
    margin: 0 auto;
    width: fit-content;
}

/* Vertical */
@media (orientation: portrait) {
    .SectionTitle h1 {
        font-size: 3rem;
    }
}